@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Arial';
  }
  h1 {
    @apply mx-auto text-center p-10 text-4xl;
  }
}

@layer components {
  button {
    background-color: #ffc400;
    color: black;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
    font-size: 1.3rem;
  }

  button:hover {
    color: white;
  }

  label {
    font-size: 1.3rem;
  }

  input {
    padding-left: 10px;
  }
}
